*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header{
  background-color: #F55A5A;
  color: white;
  text-align: center;
  padding: 20px;
 
}
.header p{
  display: flex;
  justify-content: center;
}

.header p img{
  padding-right: 5px;
}

